{% extends "interface_patient.html" %} {% block content %}
<div>
  <div class="overlay_2">
    <h2>Imagen Cargada</h2>

    {% if image %}
    <img
      class="img_loaded"
      src="data:image/png;base64,{{ image }}"
      alt="Uploaded Image"
    />
    {% endif %}
    <br />
    <div class="div__result">
      <h2>El resultado del análisis se refiere a: <u>{{mensaje}}</u></h2>
      <div class="div__flex">
        <img
          src="{{ url_for('static', filename='images/sarpullido.jpg') }}"
          alt="Tu Imagen"
        />
        <div class="div__desc">
          El sarpullido es una erupción cutánea que se manifiesta como cambios
          visibles en la textura o color de la piel. Puede presentarse como
          pequeñas protuberancias, manchas rojas, ampollas o descamación de la
          piel. Las causas del sarpullido son diversas e incluyen reacciones
          alérgicas, infecciones, irritaciones, enfermedades virales o
          condiciones médicas subyacentes. Los síntomas pueden variar desde
          picazón leve hasta dolor intenso, y la ubicación del sarpullido en el
          cuerpo también puede ser variable.
        </div>
      </div>
    </div>
    <div class="div__nota">
      NOTA: El resultado es un diagnóstico presuntivo, es recomendable asistir con su médico especialista.
      Es importante consultar a un profesional de la salud para obtener un diagnóstico adecuado y un plan de tratamiento apropiado.
    </div>
    <p>Diágnostigo guardado en el registro del paciente</p>
  </div>
</div>
{% endblock %}
