<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dermatological APP</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename ='css/style.css')}}"
    />
  </head>
  <body>
    <div class="fondo-login">
      <div class="overlay">
        <div class="login-form">
          {% block content %}
          <h1>Iniciar Sesión</h1>
          <br />
          <a class="btn__send" href="{{ url_for('login_patient') }}">Usuario Paciente</a>
          <br />
          <a class="btn__send" href="{{ url_for('login_staff') }}">Usuario Administrador</a>
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
