{% extends "index.html" %} {% block content %}
<div>
  <div class="overlay_2">
    <h1>Pacientes Registrados</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Celular</th>
            <th>Fecha</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Diagnóstico</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
            <td>{{ paciente[2] }}</td>
            <td>{{ paciente[3] }}</td>
            <td>{{ paciente[4] }}</td>
            <td>{{ paciente[5] }}</td>
            <td>{{ paciente[6] }}</td>
            <td>{{ paciente[7] }}</td>
            <td>{{ paciente[8] }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
